* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-container {}

.logo {
    width: 80px;
    border-radius: 50px;
}

.nav-items>ul {
    display: flex;
    list-style: none;
    margin: 0px 20px;
}

.nav-items>ul>li {
    padding: 20px;
    margin: 20px;

}

.search {
    margin-left: 10px;
    font-size: 24px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;

}

.res-card {
    height: 350px;
    width: 250px;
    border: 1px solid rgb(218, 215, 215);
    margin: 15px;
    padding: 15px;

}

.res-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.res-content>h3 {
    margin: 20px;
}

.res-content>h4 {
    margin: 20px;
}

.food-item-img {
    width: 250px;

}